.grid {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: 50px repeat(9, 60px) 40px;
  gap: 2px;
}

.square {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  align-items: center;
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}
