.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.tile div {
  width: 45%;
  height: 85%;
}
.left {
  float: left;
}

.right {
  float: right;
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}
