.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5px 0px;
  position: absolute;
}

.tileContainer {
  position: relative;
  min-height: 80px;
  min-width: 122px;
}

.player1Animation {
  animation: player1TileAnimation 1s forwards;
}

.player2Animation {
  animation: player2TileAnimation 1s forwards;
}

.tile div {
  width: 100%;
  height: 85%;
  margin: 5px;
}

.highlighted {
  border-color: white;
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

@keyframes player1TileAnimation {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 400px;
    top: 200px;
  }
}

@keyframes player2TileAnimation {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -400px;
    top: 200px;
  }
}

/* SMALLER SCREEN */

@media (max-width: 950px) {
  .tile {
    width: 102px;
    height: 50px;
    margin: 0px;
  }

  .tile div {
    margin: 2px;
  }

  .tileContainer {
    position: relative;
    min-height: 60px;
    min-width: 102px;
  }

  @keyframes player1TileAnimation {
    0% {
      left: 0px;
    }
    100% {
      left: 200px;
    }
  }

  @keyframes player2TileAnimation {
    0% {
      left: 0px;
    }
    100% {
      left: -200px;
    }
  }
}
