.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5px 0px;
}

.tile div {
  width: 100%;
  height: 85%;
  margin: 5px;
}

.placed-tile {
  background-color: rgba(0, 0, 0, 0.6);
}

.placed-tile div {
  width: 85%;
  height: 85%;
  margin: 5px;
}

.highlighted {
  border-color: white;
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}
